/****************************************************************/
/*********************** PARAMETRAGE SASS ***********************/
/****************************************************************/
@font-face {
  font-family: "Century Gothic";
  src: url(../fonts/CenturyGothicRegular.ttf) format("truetype"); }
@font-face {
  font-family: "Candara";
  src: url(../fonts/Candara.ttf) format("truetype"); }
/****************************************************************/
/***************************** CSS ******************************/
/****************************************************************/
body {
  font-family: "Century Gothic", sans-serif; }

/* HEADER */
header {
  color: #ff9d3d;
  height: 80px; }
  header img {
    max-height: 80px; }
  header nav ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    font-size: 23px; }
    header nav ul li {
      font-family: "Century Gothic", sans-serif;
      font-weight: 600;
      display: inline-block;
      margin: 5px 15px;
      padding: 0; }
      header nav ul li a {
        color: #ff9d3d;
        text-decoration: none; }
        header nav ul li a:hover {
          text-decoration: none;
          color: #6a6a6a; }
      header nav ul li img {
        margin-top: -10px;
        height: 25px; }

/****************************************************************/
/*************************** CONTENT ****************************/
/****************************************************************/
.search {
  position: absolute;
  font-family: "Candara", sans-serif;
  z-index: 9;
  background: #0000009e;
  padding: 50px;
  width: 80%;
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 10px;
  border: 2px inset #ff9d3d;
  color: #EEE; }
  .search h2 {
    text-align: center;
    color: #ff9d3d;
    padding-bottom: 20px; }
  .search label {
    width: 100%;
    font-size: 24px; }
  .search input {
    max-height: 38px; }
  .search button {
    background: #ff9d3d;
    color: #FFF;
    display: block;
    margin: auto;
    margin-top: 45px;
    font-size: 20px;
    border: 1px solid;
    font-weight: 900; }
    .search button:hover {
      background: #6a6a6a;
      color: #FFF; }

.introduce {
  padding: 60px 20px 60px 20px;
  min-height: 100vh;
  background: #FFF; }
  .introduce .row {
    margin: auto; }
  .introduce h2 {
    text-align: center;
    color: #ff9d3d; }
  .introduce .card {
    text-align: center;
    max-width: 500px;
    padding: 50px;
    border: 4px double #ff9d3d;
    width: 460px;
    max-height: 360px;
    cursor: pointer;
    margin: auto;
    color: #ff9d3d;
    -webkit-transition: color .5s, background .5s, border .5s, -webkit-ease-out .5s;
    transition: color .5s, background .5s, border .5s, ease-out .5s; }
    .introduce .card:hover {
      background: #ff9d3d;
      border: 4px double #FFF;
      color: #FFF; }
    .introduce .card i {
      font-size: 133px;
      padding: 10px 0px;
      margin-top: 80px;
      padding-bottom: 50px; }
    .introduce .card h3 {
      text-transform: uppercase; }

.contact {
  background: #333;
  color: #FFF;
  margin-left: -15px;
  margin-right: -15px;
  padding: 40px 15px; }
  .contact .row {
    margin: 0px; }
    .contact .row .infos {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 20px; }
      .contact .row .infos li {
        padding: 20px; }
        .contact .row .infos li i {
          padding-right: 20px;
          font-size: 35px;
          width: 80px;
          text-align: center; }
    .contact .row button {
      display: block;
      margin: auto; }

.page-footer {
  text-align: center;
  background: #222;
  color: #FFF;
  margin-top: 0px !important; }
  .page-footer .py-5 {
    padding-bottom: 0px !important; }

/****************************************************************/
/************************** DATEPICKER **************************/
/****************************************************************/
.dropdown-menu {
  border: 2px solid #EEEE;
  padding: 1px; }

.datepicker-days {
  min-width: 200px;
  border: 2px solid #ff9d3d;
  padding: 5px; }
  .datepicker-days .table-condensed {
    min-width: 200px; }
    .datepicker-days .table-condensed th {
      text-align: center; }
    .datepicker-days .table-condensed th:last-child {
      color: #FFF;
      background: #ff9d3d; }
    .datepicker-days .table-condensed tr .day {
      cursor: pointer; }
    .datepicker-days .table-condensed tr .disabled {
      color: #bcbbbb; }
    .datepicker-days .table-condensed tr td {
      text-align: center; }

/*# sourceMappingURL=style.css.map */
